html {
	margin: 0px;
	padding: 0px;
	font-size:0.75em;
}

body {
	margin: 0px;
	padding: 0px;
	color:#000; 
	background: #F3F2F2;
}

#topbar{
	height:68px;
	background:#004479;
	clear:right;
	font-family:Arial, Helvetica, sans-serif;
	color:#444444;
}

#adminNav {
	position: absolute;
	top: 1%;
	right:3px;
}

#adminNav a {
	font-weight:bold;
	color:white;
}

#header {
	height:80px;
    width:405px;
	left: 0px;
	top: 0px;
    z-index: 150;
	background:#004479;
	clear:right;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	position: absolute;
}

#headerbar { 
	color:#FFF;
	background:#4F6BA0;
	font-family:Arial, Helvetica, sans-serif;
	height:1.8em;
	width:100%;
    position: absolute;
    top: 60px;
    left: 0px;
    height:20px;
    z-index: 100;
}

#maincontent {
	display:block;
	color:#000000;
	font-family: "arielbd";
	font-size: 1.05em;
	margin-top: 40px;
}

.box {
	display: block;
	margin: 0 auto;
	padding: 10px;
}

.boxHeader {
	text-align: center;
	color: #444444;
	border-bottom: 4px solid #a9b99a;
	font-size: 1.5em;
}

.boxHeader a {
	text-decoration: none;
	color: #444444;
}

.expanded {
	background: top left no-repeat;
	background-image: url( ../images/expanded.png);
}

.collapsed {
	background: top left no-repeat;
	background-image: url( ../images/collapsed.png);
}

.boxContent {
	padding: 10px;
}

.boxContent a {
	text-decoration: none;
	color: #4F6BA0;
	font-size: 1.2em;
	font-weight: bold;
}

.boxEntry {
	display: block;
	width: 100%;
	border-bottom: 2px solid #999999;
	padding-bottom: 3px;
	margin-top: 3px;
}

.reportResult{
	width: 25%;
	float: right;
	margin-right: 20%;
}

.reportDate {
	width: 25%; 
	margin-left: 15%;
	padding-bottom: 2.5%;
}

.column1 {
float:left;
width: 25%;
margin-left:10%;
}

.column2 {
width: 25%;
float: left;
}

.column3 {
width: 25%;
float: left;
}

.ticketDescription {
	font-size: .9em;
}

.ticketSummary {
	font-size: .9em;
}

.password {
	font-weight: bolder;
	width: 180px; 
	float: right; 
	margin-right: -128%;
}

.ticketNumber{
	font-weight: bolder;
	width: 180px;
}
/* Forms */
table {
	font-size: .95em;
}

.noborder {
	border: 0px;
}

.required{
	font-size: 1.2em;
	color: #DD1111;
}

fieldset {
	font-family: Arial;
}

legend  {
	color: #666666;
	font-weight: bold;
	font-variant: small-caps;
	background: #d3d3d3;
	padding: 2px 6px;
	margin-bottom: 8px;
}

label {
	font-weight: bold;
	line-height: normal;
	margin-right: 10px;
	position: relative;
	display: block;
	float: left;
}

.fLblRequest
{
	width: 125px;
	height: 10px; /* Weird bug on firefox for windows rendering */
	text-align: right;
}

.fLblTicket {
	padding: 2px;
	margin-bottom: 5px;
}

input {
	color: #333333;
	padding: 2px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.smalltext{
	font-size: .8em;
}

textarea {
color: #333333;
padding: 2px;
margin-right: 5px;
margin-bottom: 5px;
}

/* End Forms */

/* Corners */
.corner {
display:block;
}

.corner *{
display:block;
height:1px;
overflow:hidden;
font-size:.01em;
background:#cbcaac;
}

.corner1 {
margin-left:3px;
margin-right:3px;
padding-left:1px;
padding-right:1px;
border-left:1px solid #e1e0d4;
border-right:1px solid #e1e0d4;
background:#d5d4bd;
}

.corner2 {
margin-left:1px;
margin-right:1px;
padding-right:1px;
padding-left:1px;
border-left:1px solid #efeeeb;
border-right:1px solid #efeeeb;
background:#d2d1b9;
}

.corner3 {
margin-left:1px;
margin-right:1px;
border-left:1px solid #d2d1b9;
border-right:1px solid #d2d1b9;
}

.corner4 {
border-left:1px solid #e1e0d4;
border-right:1px solid #e1e0d4
}

.corner5 {
	border-left:1px solid #d5d4bd;
	border-right:1px solid #d5d4bd;
}

.cornerfg{
	background:#cbcaac;
}
