AuthName "Resnet Shift Report"
AuthType Basic
AuthLDAPEnabled on
AuthLDAPAuthoritative on
AuthLDAPURL "ldap://ldap.rit.edu:ldaps/ou=people,dc=rit,dc=edu"
AuthLDAPRemoteUserIsDN on
Options +Indexes

require user uid=ammrcc,ou=People,dc=rit,dc=edu  # Aaron Mosley
require user uid=cmrrcc,ou=People,dc=rit,dc=edu  # Colleen Robinson
require user uid=mabrcc,ou=People,dc=rit,dc=edu  # Marc Baumbach
require user uid=kafrcc,ou=People,dc=rit,dc=edu  # Knycos Ferguson
require user uid=trdhelp,ou=People,dc=rit,dc=edu  # Tom Dixon
require user uid=dmshelp,ou=People,dc=rit,dc=edu  # Dan Swab
require user uid=hxbrcc,ou=People,dc=rit,dc=edu  # Heewa Barfchin
require user uid=rhsrcc,ou=People,dc=rit,dc=edu  # Rich Steen
require user uid=tjtrcc,ou=People,dc=rit,dc=edu  # Thomas Tufts
require user uid=srjrcc,ou=People,dc=rit,dc=edu  # Sean Jordan
require user uid=mrtrcc,ou=People,dc=rit,dc=edu  # Matt Taber
require user uid=rltrcc,ou=People,dc=rit,dc=edu  # Ryan Telesca
require user uid=awwrcc,ou=People,dc=rit,dc=edu  # Andrew Wurster
require user uid=jdwrcc,ou=People,dc=rit,dc=edu  # David Walker
require user uid=dmsrcc,ou=People,dc=rit,dc=edu  # Devin Sanera
require user uid=bpmrcc,ou=People,dc=rit,dc=edu  # Bryan Miller
require user uid=bmsrcc,ou=People,dc=rit,dc=edu  # Brian Sullivan
